// Specific CSS for your home-page

.screen {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.img {
  cursor: pointer;
}

#img_1 {
  position: absolute;
  top: 0px;
  left: 0px;
}

#img_2 {
  position: absolute;
  top: 0px;
  right: 0px;
}

#img_3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#img_4 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.img_properties {
  height: 50vh;
  width: 50vw;
}
