<div class="screen">
  <div class="img img_1">
    <%= image_tag "img_1__01.jpg", class: "img_properties" %>
  </div>
  <div class="img img_2">
    <%= image_tag "img_1__02.jpg", class: "img_properties" %>
  </div>
  <div class="img img_3">
    <%= image_tag "img_1__03.jpg", class: "img_properties" %>
  </div>
  <div class="img img_4">
    <%= image_tag "img_1__04.jpg", class: "img_properties" %>
  </div>
</div>
