<div class="screen">
  <div id="img_1" class="img">
    <img src="../assets/top_left_01.jpg" class="img_properties">
  </div>
  <div id="img_2" class="img">
    <img src="../assets/top_right_03.jpg" class="img_properties">
  </div>
  <div id="img_3" class="img">
    <img src="../assets/bottom_left_07.jpg" class="img_properties">
  </div>
  <div id="img_4" class="img">
    <img src="../assets/bottom_right_12.jpg" class="img_properties">
  </div>
</div>
